Single prod

<div class="col-sm-6 col-md-4">
        <div class="product-item">
            <div class="product-image">
                <a href="#"><img src="images/shop/productlist/1.jpg" alt="" class="img-responsive"></a>
                <div class="productitem-quickadd">
                    <a href="#">
                        <span class="vs-icon icon-basket"></span>
                        <span class="text">QUICK ADD</span>
                    </a>
                </div>
            </div>
            <h3 class="product-title"><a href="#">Leather Hooded Jacket</a></h3>
            <span class="product-price">£279</span>
        </div>
        <!-- // product-item -->
    </div>
