{% if lastPage > 1 %}
  <nav>
    <ul class="pagination">
      {% if currentPage > 1 %}
        <li><a href="{{ __SELF__.productListPage({ page: currentPage - 1 }) }}">&laquo;</a></li>
      {% endif %}

      {% for page in 1..lastPage %}
        <li{% if page == currentPage %} class="active"{% endif %}><a href="{{ __SELF__.productListPage({ page: page }) }}">{{ page }}</a></li>
      {% endfor %}

      {% if currentPage < lastPage %}
        <li><a href="{{ __SELF__.productListPage({ page: currentPage + 1 }) }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
