<div class="col-sm-6 col-md-4">
    <div class="product-item">
        <div class="product-image">
            <a href="{{ url }}"><img src="{{ product.image }}" alt="" class="img-responsive"></a>
        </div>
        <h3 class="product-title"><a href="{{ url }}">{{ product.title }}</a></h3>
        <span class="product-price">{{ product.frontend_price }}</span>
    </div>
    <!-- // product-item -->
</div>
