<ul>
    {% for category in categories %}
        <li>
            <a href="{{ __SELF__.categoryPage(category) }}">{{ category.title }}</a>

            {% if category.children %}
                {% partial '@items' categories=category.children %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
