<div data-control="toolbar">
    <a
        href="<?= Backend::url('mja/store/categories/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('mja.store::lang.category.btn_new')) ?>
    </a>

    <a
        href="<?= Backend::url('mja/store/categories/reorder') ?>"
        class="btn btn-default oc-icon-sort">
        <?= e(trans('mja.store::lang.category.reorder')) ?>
    </a>
</div>
