<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('mja/store/products') ?>"><?= e(trans('mja.store::lang.navigation.products')) ?></a></li>
        <li><a href="<?= Backend::url('mja/store/categories') ?>"><?= e(trans('mja.store::lang.navigation.categories')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>
