<?php if (!$this->fatalError): ?>

    <div class="layout fancy-layout">
        <?= Form::open(['class' => 'layout']) ?>

            <?= $this->formRender() ?>

        <?= Form::close() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('mja/store/categories') ?>" class="btn btn-default"><?= e(trans('mja.store::lang.category.return_btn')) ?></a></p>

<?php endif ?>
