<div data-control="toolbar">
    <a
        href="<?= Backend::url('mja/store/products/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('mja.store::lang.product.btn_new')) ?>
    </a>

    <a
        href="<?= Backend::url('mja/store/products/reorder') ?>"
        class="btn btn-default oc-icon-sort">
        <?= e(trans('mja.store::lang.product.reorder')) ?>
    </a>

    <div class="btn-group">
        <a
            href="<?= Backend::url('mja/store/products/import') ?>"
            class="btn btn-warning oc-icon-upload">
            <?= e(trans('cms::lang.theme.import_button')) ?>
        </a>
        <a
            href="<?= Backend::url('mja/store/products/export') ?>"
            class="btn btn-warning oc-icon-download">
            <?= e(trans('cms::lang.theme.export_button')) ?>
        </a>
    </div>

</div>
