<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('mja/store/products') ?>"><?= e(trans('mja.store::lang.navigation.products')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= Form::open(['class' => 'layout']) ?>

    <div class="layout-row">
        <?= $this->importRender() ?>
    </div>

    <div class="form-buttons">
        <button
            type="submit"
            data-control="popup"
            data-handler="onImportLoadForm"
            data-keyboard="false"
            class="btn btn-primary">
            <?= e(trans('mja.store::lang.product.btn_import')) ?>
        </button>
    </div>

<?= Form::close() ?>
