<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('mja/store/products') ?>"><?= e(trans('mja.store::lang.navigation.products')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('mja/store/products') ?>" class="btn btn-default"><?= e(trans('mja.store::lang.product.return_btn')) ?></a></p>

<?php endif ?>
